.contentHome{
    width: 100vw;
    height: 100vh;
    background: var(--blue);
    overflow: hidden;
    .contentTitle{
        display: flex;
        width: auto;
        height: 60px;
        justify-content: space-between;
        color: var(--white);
        align-items: center;
        padding-left: 15px;
        font-weight: bold;
        .btn_logout:active{
            background:var(--blue-100);
        }
    }
    .contentUploadInvioces{
        width: calc(100% - 30px);
        height: calc(100% - 95px);
        background: var(--white);
        padding: 15px;
        padding-top: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        overflow-y: auto;
        .titleUpload{
            display: inline-block;
            margin-bottom: 5px;
            font-weight: 700;
        }
        .mat-mdc-form-field{
            width: 100%;
        }
        .uploadFiles{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 15px 0;
            background: var(--grey);
            border-radius: 10px;
            margin-top: -7px;
            .title_uploadFiles{
                font-size: 14px;
                .text_press_upload{
                    color: var(--blue);
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        .uploadFiles:active{
            background: var(--grey-100);
        }
        .listFilesUpload{
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            padding-bottom: 50px;
            // overflow: hidden;
            .contentFile{
                display: flex;
                justify-content: space-between;
                width: calc(100% - 4px);
                height: 70px;
                border-radius: 10px;
                border: 2px solid rgba(0, 0, 0, 0.09);
                margin-bottom: 10px;
                .infoFile{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 15px;
                    .contentDetail{
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;
                        font-size: 13px;
                        text-overflow: ellipsis;
                        width: 100%;
                        .errorLoadFile{
                            margin-top: 5px;
                            font-size: 13px;
                            color: var(--red-100);
                        }
                        .nameFile{
                            display: inline-block;
                            text-overflow: ellipsis;
                        }
                    }
                }
                .icon_deleteFile{
                    width: 50px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .icon_viewFile{
                    width: 50px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .icon_deleteFile:active {
                    background: rgba(0, 0, 0, 0.1);
                }
                .icon_viewFile:active{
                    background: rgba(0, 0, 0, 0.1);
                }
            }
            .contentViewLoad{
                width: 100%;
                height: 300px;
                border-radius: 15px;
                background: var(--grey-100);
                display: none;
            }
        }
        .content_expenseInvoices{
            width: 100%;
            height: 100%;
        }
    }
    .buttonAddInvoices{
        position: fixed;
        width: 100%;
        height: 50px;
        bottom: 0;
        color: var(--white);
        background: var(--green);
        font-weight: bold;
        border: none;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .titleFilesUpload{
        display: none;
    }
    .content_iconsFile{
        display: flex;
    }

    .optionsMobile{
        width: 100%;
        height: auto;
        display: flex;
        gap: 8px;
        .contntUploadFile{
            width: 50%;
            text-align: center;
        }
        .contentUploadPhoto{
            text-align: center;
            // position: relative;
            width: 50%;
            // height: 100%;
            height: inherit;
            .uploadFiles{
                height: 73%;
            }
        }
    }
}


@media (min-width: 768px) {
    .buttonAddInvoices{
        max-width: 300px;
        right: 0;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
    }
        
    .content_infoColumn{
        width: 45%;
        max-width: 730px;
        float: left;
        margin-right: 30px;
    }

    .listFilesUpload{
        width: 45%;
        height: 100%;
        max-width: 700px !important;
        min-height: 82%;
        max-height: 82% !important;
        float: left;
        // overflow-y: auto !important;
    }
    .titleFilesUpload{
        font-weight: bold;
    }
    
    .listFilesUpload .contentFile{
        border-radius: 15px;
        background: var(--grey-100);

    }

    .titleFilesUpload{
        display: block !important;
        margin-bottom: 15px;
    }

    .uploadFiles{
        height: 150px !important;
        border: 2px solid rgba(0, 0, 0, 0.07);
        .title_uploadFiles{
            font-size: 16px !important;
            text-align: center;
        }
        .mat-icon{
            cursor: pointer;
            height: 40px !important;
        }
    }

    .input_selectSupplier{
        margin-top: 3px !important;
    }

    .icon_deleteFile:hover{
        background: rgba(0, 0, 0, 0.1);
        color: var(--red-100);
        cursor: pointer;
    }

    .icon_viewFile:hover{
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .buttonAddInvoices:hover{
        background: #0a990a;
        cursor: pointer;
    }

    .contentUploadPhoto{
        display: none;
    }

    .contentHome .optionsMobile .contntUploadFile{
        width: 100% !important;
    }

    .contentViewLoad{
        display: block !important;
    }

}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label, .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface{
    width: 100%;
    border-radius: 15px;
    box-shadow: none;
    background-color: #0c960c !important;
    text-align: center;
}